# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyJetWallet.Sdk.WebSocket.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\work\simplbit\MyJetWallet.Sdk.WebSocket\MyJetWallet.Sdk.WebSocket\.idea\.idea.MyJetWallet.Sdk.WebSocket\.idea/dataSources/
/dataSources.local.xml
